<section class="product product--show">
  <a (click)="back()"><i class="icon fas fa-long-arrow-alt-left"></i>back</a>
  <img class="product-img" src="assets/images/avocados.jpeg" alt="" />
  <p class="product-label">name</p>
  <h2 class="product-name">Avocado</h2>
  <p class="product-label">category</p>
  <p class="product-category">Fruit and Vegetables</p>
  <p class="product-label">note</p>
  <p class="product-desc">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique harum
    dolor explicabo sed odio sint.
  </p>
  <div class="product-options">
    <button class="delete">delete</button>
    <button class="add-list">Add to list</button>
  </div>
</section>
