
@import './base/palette';
@import './base/reset';


html {
    font-size: 65.5%;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: $bk-primary;
}

@media screen and (min-width: 800px ) {
    html {
        font-size: 70%;
    }
}
