
<nav class="menu-container">
    <span class="icon__profile"></span>
    <ul class="menu">
            <li class="menu__item" routerLinkActive="menu__item--active">
                <a class="menu__link" [routerLink]="['products']">
                    <i class=" icon fas fa-list"></i>
                    <span class="tooltip-box">items</span>

                </a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--active">
                <a class="menu__link" [routerLink]="['lists']">
                    <i class=" icon fas fa-undo"></i>
                    <span class="tooltip-box">history</span>

                </a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--active">
                <a class="menu__link" [routerLink]="['charts']">
                    <i class=" icon far fa-chart-bar"></i>
                    <span class="tooltip-box">statistics</span>

                </a>
            </li>
            
    </ul>
    <div class="container-list">
        <span class="icon__list"></span>

    </div>
</nav>
