


<main class="user-panel">
   <aside>
        <app-navbar></app-navbar>
   </aside>
   <div class="container">
     <div class="pages">
       <router-outlet>
       </router-outlet>
     </div>
       
       <div class="container-options">
               <app-product-info *ngIf="infoProduct"></app-product-info>
               <app-shopping-list *ngIf="activeList" (activateModal) = "actvModal = $event" ></app-shopping-list>

       </div>
       
    </div>
    <app-modal [modalActive] = "actvModal" (modalActiveChanged)="actvModal = $event"></app-modal>
<!-- 
      <button class="logout-btn"
        (click)="logout()">Logout</button> -->
</main>
