<section class="shopping-list">
    <div class="banner">
        <span class="banner-icon"></span>
        <div class="banner-info">
            <p>Didn't find what you need?</p>
            <button (click)="showModal()">Add item</button>
        </div>
    </div>
    <div class="shopping-list__titles">
        <h2>Shopping list</h2>
        <span><i class="fas fa-pencil-alt"></i></span>
    </div>


    <div class="no-items" *ngIf="list === null ">
        <p>No Items</p>
        <img src="/assets/images/shopping-car.svg" alt="image-shopping-car">
    </div>

    <div class="container" *ngIf=" list !== null ">
        <div class="shopping-list__items"
        *ngFor="let item of list.list">
            <p class="name-category">{{ item.category.name }}</p>
            <div class="product" >
                <div class="container-options" 
                    *ngFor="let product of item.products">
                    <p class="name-product">{{ product.product.name }}</p>

                    <div class="options" *ngIf="checkId === product._id">
                        <button class="btn-delete"><i class="far fa-trash-alt"></i></button>
                        <button class="btn-update"
                                (click)="updateQuantity( product )">
                            <i class="fas fa-edit"></i>
                        </button>

                        

                    </div>
                    <button *ngIf="checkId !== product._id"
                            class="btn-amount" 
                            (click)="controls( product._id )">
                    {{ product.quantity }}</button>

                </div>
            </div>
        </div>

    </div>

     <!-- <div class="container" *ngIf="productos.length > 0">
        <div class="shopping-list__items"
        *ngFor="let producto of productos">
            <p class="name-category">{{ producto.category}}</p>
            <div class="product" *ngFor="let prod of producto.products">
                <div class="container-options">
               
                    <label class="c-container name-product">{{ prod.name }}
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                <button class="btn-amount">{{ prod.cantidad }}</button>

                </div>
            </div>
        </div>

    </div>  -->

    <div class="save-list">
        <div *ngIf="true"
              class="save-list__btns"
              >
           <input [ngClass]="{'active': list !== null }"
                  type="text" 
                  placeholder="Enter a name">
           <button [ngClass]="{'btn-active': list !== null  }">Save</button>
       </div>

       <div class="complete__options" *ngIf="false">
            <button class="delete">Cancel</button>
            <button class="add-list">Complete</button>
        </div>
    </div>

   

    
</section>