
// colors
$color-primary:#000000;
$color-secondary:#F9A109;
$color-tertiary:#FFFFFF;

// font colors
$font-placehold:#BDBDBD;

// elements colors
$alert-color:#EB5757;
$complete-color:#56CCF2;
$new-item:#80485B;


// bk-color
$bk-primary: #fafafe;
$bk-secondary:#FFFFFF;
$bk-tertiary:#FFF0DE;

// border
$border-color:#c4c4c5;

// icon

$icon-color: #454545;










